<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h4>Products</h4>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-dark mr-1" (click)="openModal(productModal)">Add Product</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sr. No</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Referance Code</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Price</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Artwork</th>
                                <th scope="col">Image URL</th>
                                <th scope="col">Created At</th>
                                <th scope="col">Updated At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of productList ; index as idx">
                                <td>{{ idx + 1 }}</td>
                                <td>{{ prod["title"] }}</td>
                                <td class="text-wrap">{{ prod["description"] }}</td>
                                <td class="text-wrap">{{ prod["referance_code"] }}</td>
                                <td>{{ prod["rating"] }}</td>
                                <td>{{ prod["price"] | currency:'USD':'symbol':'1.0' }}</td>
                                <td>{{ prod["artist"] }}</td>
                                <td>{{ prod["artwork"] }}</td>
                                <td>{{ prod["image_url"] }}</td>
                                <td>{{ prod["createdAt"] }}</td>
                                <td>{{ prod["updatedAt"] }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-dark me-1 mb-1"
                                        (click)="viewProductDetails(viewModal, prod)">View</button>
                                    <button type="button" class="btn btn-sm btn-dark me-1 mb-1"
                                        (click)="openModal(productModal, prod)">Update</button>
                                    <button type="button" class="btn btn-sm btn-danger me-1 mb-1"
                                        (click)="deleteProduct(prod.id)">Delete</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create product-->
<ng-template #productModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Product {{ updation ? 'Updation' : 'Creation' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
            (click)="modal.dismiss('Cross click')">
            <!-- <span aria-hidden="true">&times;</span> -->
        </button>
    </div>
    <form [formGroup]="productForm" ngNativeValidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Title</label>
                        <input type="text" name="title" formControlName="title" class="form-control" placeholder="Title"
                            required>
                            <div *ngIf="hasError('title')" [class]="hasError('title') ? 'error' : ''">
                                <div *ngIf="title?.errors">
                                    <span *ngIf="title?.errors?.['required']">Title is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Referance Code</label>
                        <input type="text" name="referance_code" formControlName="referance_code" class="form-control"
                            placeholder="referance_code" required>
                            <div *ngIf="hasError('referance_code')" [class]="hasError('referance_code') ? 'error' : ''">
                                <div *ngIf="referance_code?.errors">
                                    <span *ngIf="referance_code?.errors?.['required']">referance_code is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Rating</label>
                        <input type="text" name="rating" formControlName="rating" class="form-control"
                            placeholder="Rating" required>
                            <div *ngIf="hasError('rating')" [class]="hasError('rating') ? 'error' : ''">
                                <div *ngIf="rating?.errors">
                                    <span *ngIf="rating?.errors?.['required']">Rating is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Artist</label>
                        <input type="text" name="artist" formControlName="artist" class="form-control"
                            placeholder="artist" required>
                            <div *ngIf="hasError('artist')" [class]="hasError('artist') ? 'error' : ''">
                                <div *ngIf="artist?.errors">
                                    <span *ngIf="artist?.errors?.['required']">Artist is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Artwork</label>
                        <input type="text" name="artwork" formControlName="artwork" class="form-control"
                            placeholder="Artwork" required>
                            <div *ngIf="hasError('artwork')" [class]="hasError('artwork') ? 'error' : ''">
                                <div *ngIf="artwork?.errors">
                                    <span *ngIf="artwork?.errors?.['required']">Artwork is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="price" class="text-sm">Price</label>
                        <input type="number" name="price" formControlName="price" class="form-control"
                            placeholder="Price" min="1" required>
                            <div *ngIf="hasError('price')" [class]="hasError('price') ? 'error' : ''">
                                <div *ngIf="price?.errors">
                                    <span *ngIf="price?.errors?.['required']">Price is a required field</span>
                                </div>
                            </div>
                    </div>
                    
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group m-0 mb-2">
                        <label for="description" class="text-sm">Description</label>
                        <textarea id="description" name="description" id="adress" rows="4" class="form-control"
                            formControlName="description"></textarea>
                            <div *ngIf="hasError('description')" [class]="hasError('description') ? 'error' : ''">
                                <div *ngIf="description?.errors">
                                    <span *ngIf="description?.errors?.['required']">Description is a required field</span>
                                </div>
                            </div>
                    </div>

                    <div class="form-group m-0 mb-2">
                        <label for="image_url" class="text-sm">Image URL</label>
                        <textarea id="image_url" name="image_url" id="adress" rows="4" class="form-control"
                            formControlName="image_url"></textarea>
                            <div *ngIf="hasError('image_url')" [class]="hasError('image_url') ? 'error' : ''">
                                <div *ngIf="image_url?.errors">
                                    <span *ngIf="image_url?.errors?.['required']">image_url is a required field</span>
                                </div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="modal.dismiss('')">
                Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-sm" [disabled]="loader" (click)="onSubmit()">
                {{ updation ? 'Update Product' : 'Create Product' }}
                <span *ngIf="loader">&nbsp;</span>
                <div *ngIf="loader" class="spinner-border spinner-border-sm text-white" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </button>
        </div>
    </form>
</ng-template>
<!--create product-->

<!---- view product details -->
<ng-template let-modal #viewModal>
    <div class="modal-header border-0 d-flex justify-content-between align-items-center">
        <h4>Product Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>
    <div class="modal-body">
        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Title</span>
            <p>{{ productModel?.title }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Description</span>
            <p>{{ productModel?.description || 'Not Provided' }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Referance Code</span>
            <p>{{ productModel?.referance_code }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Rating</span>
            <p>{{ productModel?.rating }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Price</span>
            <p>{{ productModel?.price | currency:'USD':'symbol':'1.0' }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Artist</span>
            <p>{{ productModel?.artist }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Artwork</span>
            <p>{{ productModel?.artwork }}</p>
        </div>
        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Image URL</span>
            <p>{{ productModel?.image_url }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Added On</span>
            <p class="text-wrap">{{ productModel?.createdAt | date: 'dd MMMM yyyy, hh:MM:ss aa' }}</p>
        </div>

        <div class="d-flex flex-column mb-1">
            <span class="text-sm text-muted">Updated On</span>
            <p class="text-wrap">{{ productModel?.updatedAt | date: 'dd MMMM yyyy, hh:MM:ss aa' }}</p>
        </div>
    </div>
</ng-template>

<!--view images-->
<ng-template #viewImageModal let-modal>
    <div class="modal-header border-0 d-flex justify-content-between align-items-center">
        <h3>Images</h3>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-sm-2 px-0 border-right verticalScroll">
                <ul class="list-group list-group-flush">
                    <li class="list-hover list-group-item" *ngFor="let imgSrc of tempImageFiles; index as idx"
                        (click)="selectedImageIdx = idx">
                        <div class="position-absolute mt-2" *ngIf="thumbnailImageIdx === idx">
                            <h4 class="thumbnail-image-tag px-2 py-1">Thumbnail Image</h4>
                        </div>
                        <img [src]="imgSrc" [alt]="imgSrc" class="img-fluid rounded shadow-sm" height="64px"
                            loading="lazy">
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-10">
                <div class="sticky-top">
                    <img [src]="tempImageFiles[selectedImageIdx]" [alt]="tempImageFiles[selectedImageIdx]"
                        class="img-fluid shadow-sm img-style" loading="lazy" title="View Full Image"
                        (click)="openImage(tempImageFiles[selectedImageIdx])">
                </div>
            </div>
        </div>
        <!-- <div class="col-12 d-flex align-items-center justify-content-center">
        <img [src]="imageUrl" class="img-fluid shadow-sm" alt="" style="height: 25em;">
      </div> -->
    </div>
</ng-template>