.form-control {
    margin: 12px;
    width: 50%;
}

.pull-right {
    float: right;
}

.form-select {
    margin-left: 12px;
    width: 50%;
}

.error {
    color: red;
    font-style: italic;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 13px;
}

